/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
body{
    margin: 0;
    text-align:center;
     font-family: 'Merriweather', serif;
     
}
h1{
    /* width: 10%; */
    margin-top:100px;
    margin-right:auto;
    margin-bottom:0;
    color: #66bfbf;
    margin-left:auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px; 
}
h2{
    font-size: 2rem;
    color: #66bfbf;

    font-family: 'Montserrat', sans-serif;
}
.bottom-cloud{
position:absolute;
}
.top-cloud{
    position:relative;
    top: 100px;
    margin-left: 500px;
}
.topcontainer{
    background-color:#f4f9f5;
}
.top{
    background-color:red;
    width:200px;
    height:200px;
}
.bottom{
    background-color:green;
    width:200px;
    height:200px;
}
.skill-row{
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.skill-row p{
    text-align: left;
    margin-right: 40px;
}

.Skillsimage{
    width: 25%;
    float: left;
    margin-right: 30PX;
}
.Skillsimage2{
    width: 25%;
    float: right;
    margin-right: 30PX;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 30%;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottomcontainer{
    background-color: #66bfbf;
    padding: 50px 0  10px;
  }

  .contact-me {
    position: relative;
    bottom: 30px;
  }
  .footer-link{
    margin-top: 10%;
    
  }
  a{
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: white;
  }